/* specification */
body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
h1, h2
{
    font-weight: 700;
}
.merlin {
    width: 400px;
    /* display:block;
    margin: 0 auto; */
}
.logo {
    width: 100px;
    display:block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.footer {
    padding-top: 100px;
}
.posts {
    padding-top:20px;
}
.logo-two{
    display: block;
    text-align: left;
    width: 200px;
}
